*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  font-family: "Syne Mono", monospace; /* Specify a fallback font in case "Syne Mono" is not available */
}

.page__wrapper {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  color: #fff;
  letter-spacing: 5px;
  font-size: 2.6em;
  margin-bottom: 30px;
  padding: 0 15px; 
}

.accordion {
  max-width: 500px;
  width: calc(100% - 20px);
}

details {
  background-color: #1e1e1e;
  margin-bottom: 10px;
  filter: drop-shadow(5px 5px 0px #0a0a0a);
  transition: filter 0.3s ease;
}

details:hover {
  filter: drop-shadow(5px 5px 4px #0a0a0a);
}

details > summary {
  color: #f4de64;
  padding: 5px 10px;
  font-size: 1.3em;
  cursor: pointer;
}

details > p {
  padding: 5px 10px 10px 20px;
  color: #ddd;
  font-size: 1.1em;
}
