.business-bg{
    /* background-image: url(../img/Business-loan-bg.avif); */
    background:#b08006d8;
    /* background: #ffd60a; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
}
