.industries-card {
    width: 100%; /* You can adjust this value as needed */
    background: #9595953b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 2px;
    transition: .3s;
    height: 150px; /* Set the height as needed */
}

.industries-card img {
    width: 30px; /* You can adjust this value as needed */
}

.industries-card:hover {
    box-shadow: 0px 0px 20px 4px #fd4a15, 0px 0px 20px 4px #22f5ff73;
    transition: transform 1.5s ease;
    transform: scale(1.1);
}
.business1-bg{
    background-image: url(../img/Business-loan-bg.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
/* .business2-bg{
    background-color: #b080065e;
} */
.yellow-image {
    filter: brightness(100%) hue-rotate(120deg);
  }

