.clarif {
background-image:linear-gradient(#ff8b00,#f27f3b,#f4c48a);
  color:#fff;
}
button {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #fff;
  color: #eb571f;
}