.clarif {
  background-image: linear-gradient(to right top, #ffbf1c, #ffc319, #ffc716, #ffcc13, #ffd00f, #fbce0d, #f8cb0b, #f4c909, #ebbf09, #e3b609, #daac09, #d1a309);
  color:#fff;
}
button {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #fff;
  color: #eb571f;
}