@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Josefin+Sans&family=Raleway:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading1 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 2;
  font-size: 16;
  word-spacing: 8px;
}

.heading2 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 500;
  line-height: 1.4;
  font-size: 17px;
  word-spacing: 8px;
}

.heading3 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  line-height: 2;
  font-size: 15px;
  word-spacing: 8px;
}

.heading4 {
  font-family: 'Cinzel', serif;
  letter-spacing: .2px;
  font-weight: 800;
  line-height: 2;
  font-size: 30px;
  word-spacing: 8;
  color: #ff2020;
}

.heading5 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  line-height: 2;
  font-size: 50px;
  word-spacing: 8px;
}


.heading6 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2px;
  font-weight: 700;
  
  font-size: 50px;
  
}


/* policy */